@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');
@import url('//fonts.googleapis.com/css?family=Oswald:200,300');

/* STRUCTURE */

* { box-sizing: border-box;}

html {
    font-size: 16px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 1.5rem;
}

body {
  background-color: white;
}


*/

/* TYPOGRAPHY */


h1, h2, h3, h4 {
font-family: 'Oswald', sans-serif;
font-weight: 300;
letter-spacing: .5rem;
}

h1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 200;
  color: grey;
}

h2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 200;
  color: grey;
}

h3 {
font-weight: 200;
font-size: 1.1rem;
}

h4 {
font-weight: bold;
font-size: 1rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

code {font-size: 1rem;
background-color: lightgrey;
border-radius: 1px;
padding: 2px;
}

.logo {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .5rem;
}


ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
}

blockquote {
  border-left: 4px solid #999;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: rgba(0,0,0,0.05);
  font-size: 1rem;
  line-height: 1.5rem;
}




table {
  border-collapse: collapse;
  width: 100%;
  font-weight: lighter;
  font-size: 1rem;
}

table, th, td {
    border: 1px solid black;
    font-size: 1rem;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {background-color: rgba(0,0,0,0.05);}

img {max-width: 90vw;
height: auto;
margin-left: 1vw;
margin-right: 1vw;

}

figcaption {
text-align: center;
font-weight: 300;
font-style: italic;
color: grey;
}


/* GRID CONFIGURATION */

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo header header header'
    'menu main main main main';
  padding: 5vw;
  padding-top: 1vw;
  padding-bottom: 0;
  max-width: 1000px;
}

.grid-container > div {
  padding: 1rem;
}


.item1 {
	grid-area: header;
	text-align: left;
}

.item2 {grid-area: menu;
	border-right: solid 1px lightgrey;
}

.item3 {
	grid-area: main;
  overflow-y: auto;
  height: 80vh;
}

.item4 {
  grid-area: logo;
  padding: 1rem;
}

.item5 { grid-area: footer; }



/* Typography */

.topnav {
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: red;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: black;
}





.sidenav {
    overflow: hidden;
    line-height: 1.5rem;
}

/* Style the links inside the navigation bar */
.sidenav a {
    padding: 0px 0px;
    text-decoration: none;
    font-weight: 200;
    font-size: .875rem;
    color: black;
}

.sidenav ul {
  list-style-type: none;
  list-style: circle;
  margin: 0;
  padding: 0;
}

/* Change the color of links on hover */
.sidenav a:hover {
    color: red;

}

.sidenav a:visited {
    color: dimgrey;
}

/* Add a color to the active/current link */
.sidenav a.active {
    background-color: #4CAF50;
    color: dimgrey;
}

/* home lists */

.homenav {
    overflow: hidden;
    line-height: 1.5rem;
}

/* Style the links inside the navigation bar */
.homenav a {
    padding: 0px 0px;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
    color: black;
}

.homenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change the color of links on hover */
.homenav a:hover {
    color: red;

}

.homenav a:visited {
    color: dimgrey;
}

/* Add a color to the active/current link */
.homenav a.active {
    background-color: #4CAF50;
    color: dimgrey;
}
