/* STRUCTURE */

* { box-sizing: border-box;}

html {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: lighter;
    line-height: 1.5rem;
}

body {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: whitesmoke;
  padding-top: 0px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}

/* GRID CONFIGURATION */


.item1 {
	grid-area: header;
	text-align: left;
}

.item2 {
	grid-area: menu;
	border-right: solid 1px dimgrey;
}

.item3 {
	grid-area: main;
}

.item4 {
  grid-area: logo;
  border: 1px solid dimgrey;
}

.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header'
    'menu main main main main'
    'footer footer footer footer footer';
  padding: 0px;
}
.grid-container > div {
  padding: 20px;
  padding-top: 0px;
}

/* Typography */

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


h1, h2, h3, h4, p {
font-family: 'Helvetica', serif;
font-weight: lighter;
letter-spacing: .1rem;
color: dimgrey;
}

.topnav {
    overflow: hidden;
    border: 1px solid dimgrey;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: grey;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #EEEEE;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: dimgrey;
}





.sidenav {
    overflow: hidden;
    line-height: 1.5rem;
}

/* Style the links inside the navigation bar */
.sidenav a {
    padding: 0px 0px;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 1rem;
    text-align: right;
    color: dimgrey;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change the color of links on hover */
.sidenav a:hover {
    color: red;
}

.sidenav a:visited {
    color: dimgrey;
}

/* Add a color to the active/current link */
.sidenav a.active {
    background-color: #4CAF50;
    color: dimgrey;
}







/* TYPOGRAPHY */


h1, h2, h3, h4, p {
font-family: 'Helvetica', serif;
font-weight: lighter;
letter-spacing: .1rem;
}

p {
font-size: 1rem;
line-height: 1.5rem;
}

.logo {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: .5rem;
}


ul {
font-weight: lighter;
letter-spacing: 0.1rem;
}

li {
font-weight: lighter;
letter-spacing: 0.1rem;
}

blockquote { border-left: 4px solid #999;
padding-left: .5rem;
padding-right: .5rem;
background-color: rgba(0,0,0,0.05);
font-size: 1rem;
line-height: 1.5rem;
}


h1 {

text-transform: uppercase;
color: grey;
text-align: left;
font-size: 1.3rem;
}

h2 {
text-align: left;
font-size: 1.2rem;
}

h3 {
font-weight: lighter;
font-size: 1.1rem;
}

h4 {
font-weight: bold;
font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: lighter;
  font-size: 1rem;
}

table, th, td {
    border: 1px solid black;
    font-size: 1rem;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {background-color: rgba(0,0,0,0.05);}

img {max-width: 100%;
height: auto;
margin-left: 1vw;
margin-right: 1vw;

}

figcaption {
text-align: center;
font-weight: lighter;
font-style: italic;
color: grey;
}
