/* STRUCTURE */

* { box-sizing: border-box;}

html>body {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: lighter;
}

.header {
  display: grid;
  grid-template-columns: 20% 80%;
}

.header>div {
  text-align: center;
}

.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: grey;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #EEEEE;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}





.sidenav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.sidenav a {
    padding: 0px 0px;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 90%;
    text-align: right;
    color: black;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change the color of links on hover */
.sidenav a:hover {
    color: red;
}

.sidenav a:visited {
    color: black;
}

/* Add a color to the active/current link */
.sidenav a.active {
    background-color: #4CAF50;
    color: white;
}



.row {
    display: flex;
    flex-wrap: wrap;
}

.sidecolumn {
    flex: 20%;
    padding: 20px;
    padding-left: 0;

}

.maincolumn {
    flex: 80%;
    padding: 20px;
    padding-top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}



.footerColumn {
    padding: 20px;
    text-align: center;
    font-size: 75%;
}



/* TYPOGRAPHY */



body {
line-height: 1.5em;
font-family: 'Helvetica', serif;
background-color: whitesmoke;
}

h1, h2, h3, h4, p {
font-family: 'Helvetica', serif;
font-weight: lighter;
letter-spacing: .1rem;
}

p {
text-align: justify;
text-justify: inter-word;
font-size: 100%;
}


ul {
font-size: .875rem;
font-weight: lighter;
letter-spacing: 0.1rem;
}

li {
font-size: .875rem;
font-weight: lighter;
letter-spacing: 0.1rem;
}

blockquote { border-left: 4px solid #999;
padding-left: 10px;
padding-right: 10px;
background-color: rgba(0,0,0,0.05);
font-size: .875rem;
}


h1 {

text-transform: uppercase;
color: grey;
text-align: left;
font-size: 1.2rem;
}

h2 {
font-size: 125%;
text-align: left;
font-weight: normal;
}

h3 {
font-size: 120%;
font-weight: lighter;
}

h4 {
font-size: 100%;
font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: lighter;
  font-size: 100%;
}

table, th, td {
    border: 1px solid black;
    font-size: .875rem;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {background-color: rgba(0,0,0,0.05);}

img {max-width: 90%;
height: auto;
margin-left: 5%;
margin-right: 5%;

}

figcaption {
text-align: center;
font-weight: lighter;
font-style: italic;
color: grey;
}
