<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			<title>{{ page.title }}</title>
		</head>
		<body>

<div class="grid-container">

<div class="item1">
<div class="logo"><a href="/asp/"><p>TRANSALTE~</p></a></div>

</div>

		<div class="item2">

		</div>

		<div class="item3">
				<div class="sidenav">
					<!-- <p>{{ page.title }}</p> -->
						{% include toc.html html=content h_min=1 h_max=3 class=sidenav %}
					</div>


		</div>

		<div class="item4"><article>{{ content }}</article></div>

</div>




</body>
</html>
