<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
<h1>TRANSALTE</h1>
			<nav>
				<div class="topnav">
				  <a class="active" href="#home">Home</a>
				  <a href="#news">News</a>
				  <a href="#contact">Contact</a>
				  <a href="#about">About</a>
				</div>

			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    			Footer content here</footer>
		</body>
	</html>
