<!DOCTYPE html>

	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>

			<title>{{ page.title }}</title>
		</head>
		<body>
			<h4>TRANSALTE</h4>

			<nav>
				<div class="topnav">
				  <a href="/contact">CONTACT</a>
				  <a href="/about/">ABOUT . </a>
					<a href="/asp/">ASP . </a>
					<a href="/index.html">HOME . </a>
				</div>
			</nav>

<p>{{ page.title }}</p>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    			default footer here
			</footer>
		</body>
	</html>
