<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h4>TRANSALTE</h4>
			<nav>
				<div class="topnav">
				  <a href="/contact">CONTACT</a>
				  <a href="/about/">ABOUT . </a>
					<a href="/asp/">ASP . </a>
					<a href="/index.html">HOME . </a>
				</div>

			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    			Footer content here</footer>
		</body>
	</html>
